:root{
    --light-gray: #d9d9d9;
    --light-gray-2: #e6e6e6;
    --white: #fff;

}

.dark{
    --light-gray: #141414;
    --light-gray-2: #151515;
    --white: #191919;
    --white-color: #fff
}
.theme-btn{
    position: absolute;
    left: 10px;
    top: 10px;
    border: none;
    background: transparent;
}

.fa-moon{
    color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    transition: all .1s ease-in-out;
    border-radius: 0;
background: var(--white);
box-shadow: inset 41px 41px 82px var(--light-gray),
            inset -41px -41px 82px var(--white);
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
}

.app-body{
    display: grid;
    justify-items: center;
    align-items: center;
    min-width: 400px;
    height: 60%;
    border-radius: 27px;
background: linear-gradient(145deg, var(--light-gray-2), var(--white));
box-shadow:  41px 41px 82px var(--light-gray),
             -41px -41px 82px var(--white);
}

@media (max-width: 500px){
    .app-body{
        min-width: 300px;
    }
}
.music-image img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.playing{
    animation: rotate 4s infinite linear;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.music-data{
    text-align: center;
    color: var(--white-color);
}

.controls{
    display: flex;
    gap: 30px;
}
.controls button{
    border: none;
    color: var(--white-color);
    background: transparent;
}
.controls button:active{
    transform: scale(1.2);
}